body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 40px;
    padding: 10px 40px;
    color: #242424;
    background: #fff;
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 10px solid #242424;
    border-bottom: 10px solid #242424;
    text-align: center;
    width: 90%;
    background: #fff;
}

nav {
    flex: 1;
}

nav ul{
    list-style-type: none;
    padding-bottom: 0px;
    position: sticky;
    top: 10em;
}

nav ul li{
    padding-bottom: 10px;
}


h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    margin-top: 0;
}

p {
    line-height: 1.4em;
    width: 400px;
}

article{
    border-bottom: 1px dotted #ccc;
}

time {
    color: rgb(121, 121, 121);
}

/* main {
    margin-top: 30px;
} */

#content-container{
    display: flex;
}

#blog {
    margin-top: 35px;
    position: relative;
    flex: 5;
}

#about{
    margin-top: 35px;
    position: relative;
    flex: 5;
}

#contact{
    margin-top: 35px;
    position: relative;
    flex: 5;
}

.nav-item{
    text-decoration: none;
}

.blog-title{
    margin-bottom: 2px;
}

.author{
    margin-bottom: 4px;
}

.info-table {
    text-align: left;
}

.img-container{
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 5px;
}

.about-img-container{
    height: 60%;
    width: 60%;
    float: left;
    margin-right: 5px;
}

#contact-form {
    width: 40%;
}

#reasons{
    width: 100%;
}
.form-item{
    margin: 8px 0px;
    width: 100%;
}

#newsletter{
    margin-top: 20px;
}




